# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Data files (не коммитим большие данные)
data/*.csv
data/*.zip
data/*.gz

# Model weights
models/*.pt
models/*.pth
models/*.h5

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
